@model List<PizzaPan.EntityLayer.Concrete.Category>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Kategori Listesi</h3>
<hr />




<a href="/Category/AddCategory/" class="btn btn-success">Yeni Kategori</a>
<br />
<br />


<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>Kategori Adı</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>


    </tr>

    @{ int a = 1;}
    @foreach (var i in Model)
    {
        <tr>
            <th>@a</th>
            <td>@i.CategoryName</td>
            <td>
                <a href="#" class="btn btn-secondary">Kategori Ürünleri</a>
            </td>

            <td>
                <a href="#" class="btn btn-info">Sitede Gör</a>
            </td>

            <td>
                <a href="/Category/DeleteCategory/@i.CategoryId" class="btn btn-danger">Sil</a>
            </td>

            <td>
                <a href="/Category/EditCategory/@i.CategoryId" class="btn btn-warning">Güncelle</a>
            </td>

        </tr>

        a++;

    }

</table>