<section class="w3l-footers-20">
    <div class="footers20">
        <div class="container">
            <div class="footers20-content">
                <div class="d-grid grid-col-4 grids-content">
                    <div class="column">
                        <h4>Adres</h4>
                        <p class="contact-para3">Ankara,Türkiye</p>
                       
                    </div>
                    <div class="column">
                        <h4>Masa Rezervasyonu Yapın</h4>
                       
                     
                            <p class="contact-phone mt-2">0(850) 038 3838</p>
                    
                    </div>
                    <div class="column">
                        <h4>Çalışma Saatlerimiz</h4>
                        <p>Pazartesi - Cuma</p>
                        <p class="mt-2">09:00 - 22:00</p>
                    </div>
                    <div class="column">
                        <h4>Twitter </h4>
                        <a href="blog-single.html">
                            <p>
                                <span class="fa fa-twitter mr-2"></span>Sıcak baharatlı pizza yemek en iyi şeydir saymak
                            </p>
                        </a>
                        <p class="small mt-2"><span class="fa fa-clock-o"></span> Temmuz 25, 2023</p>
                    </div>
                </div>
                <div class="d-grid grid-col-3 grids-content1 bottom-border">
                    <div class="columns copyright-grid">
                        <p class="copy-footer-29">
                            © 2023 Tüm Hakları Saklıdır| Coder Budotekno <a href="https://linktr.ee/budotekno">Budotekno</a>
                        </p>
                    </div>
                    <div class="columns text-right social-grid">
                        <ul class="social">
                            <li><a href="#url"><span class="fa fa-facebook" aria-hidden="true"></span></a></li>
                            <li><a href="#url"><span class="fa fa-instagram" aria-hidden="true"></span></a></li>
                            <li><a href="#url"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
