@model UserEditViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Kullanıcı Profil Sayfası</h3>

<form method="post">
    <label>Kullanıcı Adı</label>
    <input type="text" class="form-control" asp-for="UserName" />
    <br />

    <label>Adınız</label>
    <input type="text" class="form-control" asp-for="Name" />
    <br />

    <label>Soyadınız</label>
    <input type="text" class="form-control" asp-for="Surname" />
    <br />

    <label>Şehir</label>
    <input type="text" class="form-control" asp-for="City" />
    <br />

    <label>Mail</label>
    <input type="text" class="form-control" asp-for="Email" />
    <br />

    <label>Şifreniz</label>
    <input type="password" class="form-control" asp-for="Name" />
    <br />

    <input type="submit" class="btn btn-warning" value="Bilgilerimi Güncelle" />


</form>
