@model List<Category>

@{
    Layout = null;
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="tr">

@await Component.InvokeAsync("_HeadPartial")

<body>
    <!--header-->
    @await Component.InvokeAsync("_NavbarPartial")
    <!--/header-->
   
    <section class="w3l-breadcrumb">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a href="/Default/Index/">Anasayfa</a></li>
                <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Menü</li>
            </ul>
        </div>
    </section>
    <!-- menu -->
    <div class="agileits-services  py-5" id="menu">
        <div class="container py-md-5">
            <div class="title-content text-center">
                <h6 class="sub-title">Budotekno</h6>
                <h3 class="title-big">Sizin İçin Menü Kombinasyonu</h3>
            </div>
            <div class="pt-lg-5 pt-4">
                
                <div class="row menu-body">



                   @foreach (var i in Model)
                    {

                        <!-- Section starts: Appetizers -->
                        <div class="col-lg-6 menu-section pr-lg-5">
                            <h3 class="menu-section-title">@i.CategoryName</h3>
                            <!-- Item starts -->
                            @foreach (var j in i.Products)
                            {
                                <div class="menu-item">

                                    <div class="row border-dot no-gutters">
                                        <div class="col-8 menu-item-name">
                                            <h6>@j.ProductName</h6>
                                        </div>
                                        <div class="col-4 menu-item-price text-right">
                                            <h6>@j.ProductPrice ₺</h6>
                                        </div>
                                    </div>
                                    <div class="menu-item-description">
                                        <p >
                                            @j.ProductDescription
                                        </p>
                                    </div>
                                </div>


                            }
                            
                        </div>
                        <!-- Section ends: Appetizers -->
                    }

                  
                </div>
            </div>
        </div>
    </div>
    <!-- //menu -->
    @await Component.InvokeAsync("_FooterPartial")
   
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        &#10548;
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- /move top -->
    </section>

    <!-- jQuery and Bootstrap JS -->
    <script src="~/Templates/Vitrin/assets/js/jquery-3.3.1.min.js"></script>

    <!-- libhtbox -->
    <script src="~/Templates/Vitrin/assets/js/lightbox-plus-jquery.min.js"></script>


    <script src="~/Templates/Vitrin/assets/js/jquery.magnific-popup.min.js"></script>

    <script src="~/Templates/Vitrin/assets/js/counter.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

            $('.popup-with-move-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-slide-bottom'
            });
        });
    </script>

    <!-- testimonials owlcarousel -->
    <script src="~/Templates/Vitrin/assets/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $('.owl-two').owlCarousel({
                loop: true,
                margin: 30,
                nav: false,
                responsiveClass: true,
                autoplay: false,
                autoplayTimeout: 5000,
                autoplaySpeed: 1000,
                autoplayHoverPause: false,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    480: {
                        items: 1,
                        nav: false
                    },
                    667: {
                        items: 1,
                        nav: false
                    },
                    1000: {
                        items: 1,
                        nav: false
                    }
                }
            })
        })
    </script>
    <!-- //script for Testimonials-->
    <!-- script for food-->
    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 0,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    480: {
                        items: 2,
                        nav: true,
                        margin: 20
                    },
                    769: {
                        items: 3,
                        nav: true,
                        margin: 20
                    },
                    1280: {
                        items: 4,
                        nav: true,
                        loop: true,
                        margin: 25
                    }
                }
            })
        })
    </script>
    <!-- //script for food-->
    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- disable body scroll which navbar is in active -->
    <!--/MENU-JS-->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!--//MENU-JS-->
    <script src="~/Templates/Vitrin/assets/js/bootstrap.min.js"></script>

</body>

</html>