@model List<PizzaPan.EntityLayer.Concrete.About>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Hakkımızda</h3>
<hr />

<div>
    @foreach (var i in Model)
    {
        <div class="mt-3">

            <label>Fotoğraf 1</label>
            <br>
            <img src="@i.AboutImg1" width="150" />

        </div>

        <div class="mt-3">
           
            <label>Fotoğraf 2</label>
            <br>
            <img src="@i.AboutImg2" width="150" />

        </div>

        <div class="mt-3">

            <label>Başlık</label>
           <input type="text" readonly class="form-control" value="@i.AboutTitle" />

        </div>

        <div class="mt-3">

            <label>Açıklama</label>
            <textarea class="form-control" rows="3" readonly>@i.AboutDes</textarea>
        </div>

        <br />
        <a href="/AdminAbout/EditAbout/@i.AboutId" class="btn btn-warning">Güncelle</a>

    }
 
</div>
