@model PizzaPan.EntityLayer.Concrete.Testimonial

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Referans Güncelle</h3>
<hr />


<form method="post">

    <input type="hidden" class="form-control" asp-for="TestimonialId" />

    <div>
        <label>Fotoğraf</label>
        <input type="text" class="form-control" asp-for="ImageUrl" />
    </div>

    <div>
        <label>Başlık</label>
        <input type="text" class="form-control" asp-for="CustomerTitle" />
    </div>

    <div>
        <label>Adı</label>
        <input type="text" class="form-control" asp-for="CustomerName" />
    </div>

    <div>
        <label>Yorum</label>
        <textarea asp-for="Comment" class="form-control" rows="3"></textarea>
    </div>
    <br />

    <input type="submit" class="btn btn-warning" value="Güncelle" />
</form>
